* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  height: 100%;
}

.react-calendar__month-view__weekdays {
  color: gray;
}

.react-calendar__navigation button {
  font-size: 1.5em;
}

.appointment-group {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
}

